asgiref==3.8.1
Django==5.1.6
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.3
asgiref==3.8.1
Django==5.1.6
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
Pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
pytest-sugar==1.0.0
python-dotenv==1.1.0
sqlparse==0.5.3
termcolor==3.1.0
